;;;;
; npm userconfig file
; this is a simple ini-formatted file
; lines that start with semi-colons are comments.
; read `npm help config` for help on the various options
;;;;

; @fortawesome:registry = "https://npm.fontawesome.com/"                                                                                                                                                                                                                                    
;HTTPS_PROXY = "https://gia.sebank.se:8080"                                                                                                                                                                                                                                                
;HTTP_PROXY = "http://gia.sebank.se:8080"                                                                                                                                                                                                                                                  
;PROXY = "http://gia.sebank.se:8080"                                                                                                                                                                                                                                                       
;metrics-registry = "https://repo.sebank.se/artifactory/api/npm/registry-npmjs"                                                                                                                                                                                                            
;no-proxy = ".sebank.se"                                                                                                                                                                                                                                                                   
