<header>
    <h1>{{collection?.name}}</h1>
    <form #listForm="ngForm" novalidate (ngSubmit)="createList()">
        <input type="text" name="name" placeholder="Name of new list" [(ngModel)]="listName"/>
        <button id="create-list" title="Create" class="fa fa-plus"></button>
    </form>
</header>
<div *ngIf="currentList" cdkDropList (cdkDropListDropped)="drop($event)" >
    <a routerLink="/{{collectionId}}/{{currentList.id}}" routerLinkActive="active">
        <strong>{{currentList.name}}</strong> {{ currentList.created | showAsDate }}
    </a>
    <button title="Copy" (click)="copy(currentList)" class="fa fa-copy"></button>
    <div class="row" *ngFor="let row of currentList.rows; let i = index">
        <i cdkDrag  cdkDragLockAxis="y" class="fa fa-arrows"></i>
        <row *ngIf="editingRow != i" [row]="row" (changed)="onChanged($event)"></row>
        <edit-row *ngIf="editingRow == i" [row]="row" (changed)="onChanged($event)"></edit-row>
        <button title="Remove" class="fa fa-times" (click)="removeRow(i)" [tabindex]="i + 10000"></button>
    </div>
    <button id="add-row"  #addRowButton title="Add row" type="button" class="add-row fa fa-plus" (click)="addRowOnClick()" [tabindex]="900">Add a row</button>
</div>

<div *ngIf="lists">
    <ol>
    <li *ngFor="let list of lists">
        <a routerLink="/{{collectionId}}/{{list.id}}" routerLinkActive="active">
            <strong>{{list.name}}</strong> {{ list.created | showAsDate }}
        </a>
        <button title="Copy" (click)="copy(list)" class="fa fa-copy"></button>
        <div class="row" *ngFor="let row of list.rows">
            <button title="Add row to current list" type="button" class="fa fa-angle-double-up" (click)="copyRow(row)"></button>
            <row [row]="row"></row>
            <br>
        </div>
    </li>
</ol>
</div>
<br/>
<button id="more" [disabled]="!countlists.hasMore" (click)=readMore()>Old lists</button>
