header form input{
    display: none;
}

.list-header {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.list-header h1 {
    flex-grow: 2;
}

.list-header * {
    flex-grow: 1;
}

.list-row {
    display: flex;
    align-items: center;
  
    border: 1px solid black;
    min-height: 2rem;
    border-radius: 0.2rem;
    margin-bottom: 0.2rem;
  }
  
  .header-row {
      font-size: 0.7rem;
      background-color: lightgray;
  }
  
  .list-row row{
      display: flex;
      align-items: center;
      flex-grow: 10;
  }
  
  .list-edit edit-row {
      background-color: blue;
      display: flex;
      align-items: center;
      flex-grow: 10;
  }
  
  .list-row * {
      margin: 0.2rem;
  }
  
  .column-text {
      flex-grow: 8;
  }
  
  .column-number {
      width: 3rem;
  }
  
  .column-boolean {
      width: 3rem;
  }
  
  .column-empty {
      width: 2rem;
  }
  
  .list-row:first-child {
      width: 2rem;
  }
  
  .list-row button {
      width: 1rem;
  }
  
  .list-edit-row {
      display: flex;
      align-items: center;
      flex-grow: 10;
  }   
  
  .list-edit-row * {
      margin: 1;
  }
  
  .list-edit-row select {
      width: 3rem;
      height: 2rem;
  }
  
  .list-edit-row button {
      width: 1rem;
  }