<h1>{{collection?.name}}</h1>
<form #listForm="ngForm" novalidate (ngSubmit)="createList(listForm.value)">
    <select name="lang" [(ngModel)]="languageId" >
        <option *ngFor="let language of languages" [ngValue]="language.key">{{language.name}}</option>
    </select>
    <input type="text" name="name" placeholder="Name of new list" ngModel />
    <button title="Create" class="fa fa-plus"></button>
</form>
<div *ngIf="currentList">
    <a routerLink="/{{collectionId}}/{{currentList.id}}" routerLinkActive="active">
        <strong>{{currentList.name}}</strong> {{ currentList.created | showAsDate }}
    </a>
    <button title="Copy" (click)="copy(currentList)" class="fa fa-copy"></button>
    <p *ngFor="let row of currentList.rows">
        {{row}}
    </p>
    <!-- <button title="Add row" type="button" class="fa fa-plus" (click)="addRow('')" [tabindex]="900"></button>Add a row<br> -->
</div>

<div *ngIf="lists">
    <ol>
    <li *ngFor="let list of lists">
        <a routerLink="/{{collectionId}}/{{list.id}}" routerLinkActive="active">
            <strong>{{list.name}}</strong> {{ list.created | showAsDate }}
        </a>
        <button title="Copy" (click)="copy(list)" class="fa fa-copy"></button>
        <p *ngFor="let row of list.rows">
            {{row}}
        </p>
    
    </li>
</ol>
</div>
<br/>
<button [disabled]="!countlists.hasMore" (click)=readMore()>Old lists</button>
