<h1>Lists</h1>
<form #listForm="ngForm" novalidate (ngSubmit)="createList(listForm.value)">
    <select name="lang" [(ngModel)]="languageId" >
        <option *ngFor="let language of languages" [ngValue]="language.key">{{language.name}}</option>
    </select>
    <input type="text" name="name" placeholder="Name of new list" ngModel />
    <button title="Create" class="fa fa-plus"></button>
</form>
<ul>
    <li *ngFor="let list of lists">
        <a routerLink="/{{collectionId}}/{{list.id}}" routerLinkActive="active">
            <strong>{{list.name}}</strong> {{list.created.toLocaleString()}}
        </a>
        <button title="Copy" (click)="copy(list)" class="fa fa-copy"></button>
        <p *ngFor="let row of list.rows">
            {{row}}
        </p>
    
    </li>
</ul>

