@import "~bootstrap/scss/bootstrap";
@import "./app/list/list.scss";

h1 {
    display: inline-block;
    margin: 0;
}

.list-collections
{
    display: flex;
    flex-direction: column;

    li
    {
        display: flex;
        flex-direction: row;
        align-items: center;
        border: 1px solid;
        background-size: 100%;
    }

    li a
    {
        flex-grow: 10;
        padding-left: 1rem;
        padding-top: 2rem;
        padding-bottom: 2rem;
        font-size: 1.5rem;
        color:#666666;
    }

    li button
    {
        flex-grow: 0;
    }
}

.fa-times{
    color: red;
}

.fa-plus {
    color: green;
}

.fa-check {
    color: green;
}

ol {
    width: 100%;
    padding-inline-start: 0;
}

li {
    margin: 0.1em;
    list-style: none;
}


header button{
    float: right;
}


