/* You can add global styles to this file, and also import other style files */
@media only screen and (min-width: 600px) {
    body {
      padding-left: 3em;
    }
}

h1 {
    font-size: 25px;
    display: inline-block;
    margin: 0;
}

header {
    margin-bottom: 10px;
}

header form{
    float: right;
    display: inline-block;
}

header form input{
    display: none;
}


header button{
    float: right;
}

body {
    width: 90%;
    font-size: 20px;
}

a {
    padding: 5px;
}
a:link {
    text-decoration: none;
}
  
a:visited {
    text-decoration: none;
}

.homenav {
    text-decoration: none;
    float: left;
    font-size: 1.5em;
}

.list {
    width: 205px;
}

button.add-row {
    display: block;
}

button.fa {
    border-color: transparent;
    background-color:transparent;
}

ol {
    width: 100%;
    padding-inline-start: 0px;
}

li {
    margin-top: 1em;
    list-style: none;
}

p:nth-child(odd) {
    background-color: lightyellow;
}

.row {
    margin-top: 1px;
    border: solid 1px;
    border-radius: 3px;
    padding: 5px;
    width: 100%;
    overflow: auto;
    vertical-align: top;
}

.row i  {
    color: darkgray;
    float: left;
    min-width: 20px;
    display: inline-block;
}
.row input  {
    float: left;
    min-width: 10px;
    display: inline-block;
}

input[type=checkbox] {
    margin-left: 0px;
    border-radius: 50%;
}

input[type=checkbox]:checked + label {
    color:  #ccc;
    font-style: italic;
} 
 
.row label  {
    float: left;
    overflow-wrap: break-word;
    display: inline-block;
    max-width: 70%;
}

.row button {
    text-align: right;
    float: right;
    padding-right: 0px;
    min-width: 25px;
    display: inline-block;
}

textarea {
    font-size: 16px;
}

.fa-times{
    color: red;
}

.fa-plus {
    color: green;
}

.fa-check {
    color: green;
}

.info-message {
    position: fixed;
    top:0;
    background-color: lightgreen;
    color: white;
    z-index: 0;
}

.error-message {
    position: fixed;
    top:0;
    background-color: red;
    color: black;
    z-index: 1;
}
