/* You can add global styles to this file, and also import other style files */
@media only screen and (min-width: 600px) {
    body {
      padding-left: 3em;
    }
}

body {
    width: 100%;
}

.list {
    width: 205px;
}

button.fa {
    border-color: transparent;
    background-color:transparent;
}

ol {
    width: 100%;
    padding-inline-start: 0px;
}

li {
    margin-top: 1em;
    list-style: none;
}

p:nth-child(odd) {
    background-color: lightyellow;
}

p {
    margin: 0px;
}

.fa-times{
    color: red;
}

.fa-plus {
    color: green;
}

.fa-check {
    color: green;
}
